sdm-rdfizer/
rdfizer/
rmlmapper/
rmlmapper_1/
rocketrml/
data-generator/source/generator/.ipynb_checkpoints/.ipynb-checkpoint
data-generator/source/generator/.ipynb_checkpoints/a-checkpoint.ipynb
data-generator/source/generator/.ipynb_checkpoints/a.ipynb
data-generator/source/generator/.ipynb_checkpoints/data_generation-checkpoint.ipynb
data-generator/source/generator/.ipynb_checkpoints/data_generator-checkpoint.ipynb
data-generator/source/generator/.ipynb_checkpoints/generate_ju-checkpoint.py
data-generator/source/generator/.ipynb_checkpoints/new_bkp-checkpoint.ipynb
data-generator/source/generator/.ipynb_checkpoints/Tree_structre-checkpoint.ipynb
data-generator/source/generator/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data-generator/source/generator/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
data-generator/source/generator/__pycache__/generate.cpython-38.pyc
data-generator/source/generator/__pycache__/generate_data.cpython-38.pyc
experiments/.ipynb_checkpoints/run_expriments-checkpoint.ipynb
experiments/.ipynb_checkpoints/run_expriments-Copy1-checkpoint.ipynb
source/normalization/.ipynb_checkpoints/Untitled-checkpoint.ipynb
source/normalization/__pycache__/__init__.cpython-36.pyc
source/normalization/__pycache__/__init__.cpython-37.pyc
source/normalization/__pycache__/__init__.cpython-38.pyc
source/normalization/__pycache__/functions.cpython-36.pyc
source/normalization/__pycache__/functions.cpython-37.pyc
source/normalization/__pycache__/functions.cpython-38.pyc
source/normalization/__pycache__/normalize.cpython-36.pyc
source/normalization/__pycache__/normalize.cpython-37.pyc
source/normalization/__pycache__/normalize.cpython-38.pyc
source/normalization/__pycache__/normalize_new.cpython-36.pyc
source/normalization/__pycache__/normalize_new.cpython-38.pyc
source/normalization/triples_map/__init__.py
source/normalization/triples_map/__pycache__/__init__.cpython-36.pyc
source/normalization/triples_map/__pycache__/__init__.cpython-37.pyc
source/normalization/triples_map/__pycache__/__init__.cpython-38.pyc
source/normalization/triples_map/__pycache__/TriplesMap.cpython-36.pyc
source/normalization/triples_map/__pycache__/TriplesMap.cpython-37.pyc
source/normalization/triples_map/__pycache__/TriplesMap.cpython-38.pyc
source/normalization/normalize.pyc
